github "shpakovski/MASShortcut" ~> 2.3.6
github "Squirrel/Squirrel.Mac" ~> 0.3.0
github "robbiehanson/CocoaAsyncSocket" ~> 7.5.1
github "joemcbride/GlimpseXML" "xcode8-swift2.3"
github "joemcbride/pegkit" "modules"
github "joemcbride/Oysterkit" "RTM"
github "joemcbride/YogaKit" "master"
